*{
    box-sizing: border-box;
    font-family: arial;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
    margin: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.image img {
    max-width: 100%;
    height: 200px;
}

.age {
    font-size: 1em;
    margin: 10px 0;
}

.identity {
    font-size: 0.9em;
    margin: 10px 0;
}

.powers {
    font-size: 0.9em;
    margin: 10px 0;
    color: #555;
}
